<ion-header>
  <ion-toolbar>

    <!-- BACK BUTTON -->
    <ion-button fill="clear" slot="start" (click)="goBack()">
      ←
    </ion-button>

    <!-- PROFILE NAME -->
    <ion-title>
      {{ profile?.name }}'s Workout
    </ion-title>

  </ion-toolbar>
</ion-header>



<ion-content>

  <!-- WORKOUT CARDS -->
<ion-card class="workout-card" *ngFor="let w of workouts; let i = index" (click)="openWorkout(w, i)">

  <ion-card-content>

    <!-- TOP ROW -->
    <div class="top-row">
      <h2 class="name">{{ w.name }}</h2>

      <span class="day">
        {{ w.day?.join(', ') }}
      </span>
    </div>


    <!-- BOTTOM ROW -->
    <div class="bottom-row">
      <div class="stats">
        <p>Reps: {{ w.reps }}</p>
        <p>Sets: {{ w.sets }}</p>
      </div>
    </div>

  </ion-card-content>

</ion-card>

</ion-content>

<ion-modal [isOpen]="isModalOpen">
  <ng-template>

<ion-header>
  <ion-toolbar>

    <!-- BACK BUTTON (TOP LEFT) -->
    <ion-button fill="clear" slot="start" (click)="closeModal()">
      ←
    </ion-button>

    <ion-title>{{ selectedWorkout?.name }}</ion-title>

  </ion-toolbar>
</ion-header>

    <ion-content>

      

<!-- IMAGE -->
<div class="workout-image-container">
  <img class="workout-full-image" [src]="selectedWorkout?.image" />
</div>

<!-- BOTTOM INFO (INSTAGRAM STYLE + EDITABLE) -->
<div class="workout-info">

<div class="workout-stats">

 <div class="stat">
  <p>Day</p>

  <ion-select
    multiple="true"
    [(ngModel)]="selectedWorkout.day"
    (ionChange)="autoSave()"
  >

    <ion-select-option value="Monday">Monday</ion-select-option>
    <ion-select-option value="Tuesday">Tuesday</ion-select-option>
    <ion-select-option value="Wednesday">Wednesday</ion-select-option>
    <ion-select-option value="Thursday">Thursday</ion-select-option>
    <ion-select-option value="Friday">Friday</ion-select-option>
    <ion-select-option value="Saturday">Saturday</ion-select-option>
    <ion-select-option value="Sunday">Sunday</ion-select-option>

  </ion-select>
</div>

  <div class="stat">
    <p>Reps</p>
    <ion-input 
      type="number"
      [(ngModel)]="selectedWorkout.reps"
      (ionChange)="autoSave()">
    </ion-input>
  </div>

  <div class="stat">
    <p>Sets</p>
    <ion-input 
      type="number"
      [(ngModel)]="selectedWorkout.sets"
      (ionChange)="autoSave()">
    </ion-input>
  </div>

</div>

</div>


    </ion-content>

  </ng-template>
</ion-modal>