<button class="backbutton" (click)="gohome()"><</button>
<h1><strong>ADD</strong></h1>

<form #form="ngForm" (ngSubmit)="addProfile()">
  <label>NAME</label>
  <input 
    type="text" 
    name="name"
    [(ngModel)]="name"
    required>

<label>GENDER</label>
<div>
<ion-item>
  <ion-select 
    [(ngModel)]="gender" 
    name="gender"
    interface="popover"
    required>

    <ion-select-option value="male">Male</ion-select-option>
    <ion-select-option value="female">Female</ion-select-option>

  </ion-select>
</ion-item>
  </div>

  <label>AGE</label>
  <input 
    type="number" 
    name="age"
    [(ngModel)]="age"
    required>

  <label>WEIGHT (kg)</label>
  <input 
    type="number" 
    name="weight"
    [(ngModel)]="weight"
    required>

  <label>HEIGHT (cm)</label>
  <input 
    type="number" 
    name="height"
    [(ngModel)]="height"
    required>

<label>BODY PART GOAL</label>
<ion-item>
  <ion-select 
    [(ngModel)]="bodyParts"
    name="bodyParts"
    multiple="true"
    interface="popover"
    required>

    <ion-select-option value="upper">Upper</ion-select-option>
    <ion-select-option value="core">Core</ion-select-option>
    <ion-select-option value="lower">Lower</ion-select-option>

  </ion-select>
</ion-item>

<label>MUSCLE MASS</label>
<ion-item>
  <ion-select 
    [(ngModel)]="muscleMass"
    name="muscleMass"
    interface="popover"
    required>

    <ion-select-option value="low">Low</ion-select-option>
    <ion-select-option value="moderate">Moderate</ion-select-option>
    <ion-select-option value="high">High</ion-select-option>

  </ion-select>
</ion-item>

  <br>

  <button 
    class="savebttn" 
    type="submit"
    [disabled]="form.invalid">
    Save
  </button>

</form>