<ion-content>

  <h1><strong>My Workout Profiles</strong></h1>

  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Loading...">
    </ion-refresher-content>
  </ion-refresher>

  <div class="list">

    <ion-card *ngFor="let p of profiles; let i = index" (click)="openProfile(i)">
      
      <ion-card-content>

        <div class="card-header">

          <!-- LEFT: NAME -->
          <div class="profile-name">
            <p>{{ p.name }}</p>
          </div>

          <!-- RIGHT: MENU -->
          <div class="menu-btn">
            <ion-button fill="clear" (click)="openMenu($event, i)">
  ⋮
</ion-button>
          </div>

        </div>

      </ion-card-content>
      
    </ion-card>

  </div>

  <!-- FAB FIX -->
  <ion-fab slot="fixed" vertical="bottom" horizontal="end" (click)="goToaddnew()">
      +
  </ion-fab>

</ion-content>